*{
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
}


main{
    width: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    height: 100%;
}

h1{
    font-size: 24px;
}

.conteudo{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.grid-item{
    height: 100px;
    width: 100%;
    border: 1px solid black;
}

.vermelho{
    background-color: red;
}

.azul{
    background-color: blue;
}

.verde{
    background-color: green;
}

.laranja{
    background-color: orange;
}

.preto{
    background-color: black;
}

/* Breakpoint Tablet */

@media screen and (width>=768px) {
    .conteudo{
        grid-template-columns: repeat(5, 1fr);
    }

    h1{
        font-size: 30px;
    }
}

@media screen and (width>=1024px) {
   body {
    background-color: black;
   }
    h1{
        color: white;
        font-size: 34px;
    }
}